.price{
    display: flex;
    width: 100%;
    padding: 80px 0;

    &__content{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 34px;

        &__title{
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: center;
            align-items: center;

            & > h2{
                font-family: Inter;
                font-size: 36px;
                font-weight: 800;
                line-height: 40px;
                letter-spacing: 0%;
                text-align: center;
            }

            & > p{
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
            }
        }
        &__ul{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
        &__li{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            max-width: 460px;
            gap: 50px;
            padding: 32px 24px 32px 24px;
            border: 1px solid var(--color-muted);
            border-radius: 8px;
            box-shadow: 0px 1px 4px 0px var(--color-hover);
            background: var(--color-background);

            &__title{
                display: flex;
                flex-direction: column;
                gap: 12px;


                & > p{
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: 6%;
                    text-align: left;
                    
                }
                & > h3{
                    font-family: Inter;
                    font-size: 48px;
                    font-weight: 900;
                    line-height: 48px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
            &__about{
                display: flex;
                flex-direction: column;
                gap: 32px;

                & > p{
                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
            &__btn{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 14px 18px 14px 18px;
                font-family: Inter;
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0%;
                border-radius: 6px;
                box-shadow: 0px 1px 4px 0px var(--color-muted);
                background: var(--color-background);
                color: var(--color-text);
                transition: background 1s ease-in-out, color 1s ease-in-out;
                &:hover{
                    background: var(--color-hover);
                    color: var(--color-hover-text);
                }
            }
        }
    }
}